@model IEnumerable<TFCLPortal.Applications.ApplicationDto>
@{
    ViewData["Title"] = "InprocessApplications";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<!-- ### $App Screen Content ### -->
<main class='main-content bgc-grey-100'>
    <div id='mainContent'>
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="bgc-white bd bdrs-3 p-20 mB-20">
                        <div class="card p-10 mB-20">
                            <h4 class="">Inprocess Applications</h4>
                            <div style="text-align: right; float: right;width: 100%;position:absolute;">
                                <a href="~/Application/ApplicationWorkFlow" class="btn btn-primary bg1 eft-1" title="Back">Back<span></span></a>
                            </div>
                        </div>
                        <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Sr#</th>
                                    <th>Seq#</th>
                                    <th>Application#</th>
                                    <th>Applicant Name</th>
                                    <th>Branch Name</th>
                                    <th>School Name</th>
                                    <th>product</th>
                                    <th>status</th>
                                    <th>SDE Name </th>
                                    <th>App Status </th>
                                    <th>view</th>
                                    <th>Aplication Detail</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    int i = 0;
                                    foreach (var item in Model.ToList())
                                    {
                                        i = i + 1;
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.Id</td>
                                            <td>@item.AppNumber</td>
                                            <td>@item.ApplicantName</td>
                                            <td>@item.BranchName</td>
                                            <td>@item.SchoolName</td>
                                            <td>@item.Product</td>
                                            <td>@item.MobilizationStatus</td>
                                            <td>@item.SDEName</td>
                                            @*<td>@item.NextMeeting.ToString("dd/MM/yyyy")</td>*@
                                            <td>@item.AppStatus</td>
                                            <td><a href="~/Application/ApplicationDetail/@item.Id" class="edit-btn"><i class="fa fa-edit" aria-hidden="true"></i></a></td>
                                            <td><a href="~/Dashboard/Application/@item.Id" class="edit-btn"><i class="fa fa-desktop" aria-hidden="true"></i></a></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- ### $App Screen Footer ### -->
