@model List<TFCLPortal.FilesUploads.Dto.FilesUploadListDto>
<style>
    .modal-title {
        text-align: center;
        width: 100%;
    }
</style>


@if (@Model.Count > 0)
{
    <input type="hidden" id="ApplicationId" value="@Model[0].ApplicationId" />
    <div class="tab_content active" style="padding: 15px 20px">
        <div class="row">

            @foreach (var items in @Model)
            {

                <div class="col-md-4">

                    <div class="heading text-capitalize">
                        <p class="detailHeading">@items.ScreenCode.Replace("_", " ")  @(items.RespectiveName==null || items.RespectiveName == "" ? "" : "( " +items.RespectiveName+" )"   )</p>
                    </div>
                    <div class="page-form">
                        <div class="form-group">
                            <a href="@Url.Content(items.BaseUrl)" target="_blank" data-rel="prettyPhoto">
                                @if (items.BaseUrl.Contains(".pdf"))
                                {
                                    <img src="~/images/pdfimg.png" alt="Image">
                                }
                                else
                                {
                                    <img src="@Url.Content(items.BaseUrl)" alt="Image">
                                }
                            </a>
                        </div>
                    </div>
                    <div class="row" style="font-size:10px">
                        <div class="col-md-4 text-left"><b>File Type : </b>@System.IO.Path.GetExtension(items.BaseUrl)</div>
                        <div class="col-md-8 text-right"><b>Upload Date : </b> @(items.LastModificationTime==null ? items.CreationTime : items.LastModificationTime)</div>
                    </div>
                </div>

            }




            <div class="col-md-12" style="text-align: right;">
                <a id="screenBtnUD" href="" data-toggle="modal" data-target="#_UploadDocuments_approved" class="btn btn-sm btn-outline-success" title="Screen">Screen<span></span></a>
                <a id="discrepentBtnUD" href="" data-toggle="modal" data-target="#_UploadDocuments_discrepant" class="btn btn-sm btn-outline-danger" title="Discrepent">Discrepent<span></span></a>
            </div>
        </div>
    </div>
}
else
{
    <div class="tab_content" style="padding: 15px 20px">
        <div class="row">
            <span style="text-align: center;width: 100%;color: black;font-weight: bold;">Sorry, No Documents found againt this application .</span>
        </div>
    </div>
}

<!--Approved Modal -->
<div class="modal fade" id="_UploadDocuments_approved" tabindex="-1" role="dialog" style="z-index: 1100;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Approved Confirmation</div>
                <button type="button" class="close" data-dismiss="modal" aria-div="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to mark this form Screened?
            </div>
            <div class="modal-footer">
                <button id="btnScreenUD" type="button" class="btn btn-success bg1 ef1">Mark Screened</button>
                <button data-dismiss="modal" type="button" class="btn btn-danger bg1 ef1">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<!--discrepent Modal -->
<div class="modal fade" id="_UploadDocuments_discrepant" tabindex="-1" role="dialog" style="z-index: 1100;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Discrepent Confirmation</div>
                <button type="button" class="close" data-dismiss="modal" aria-div="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea placeholder="Type Reason" id="commentIdUD"></textarea>
                <span class="text-danger" style="display:none" id="comment_errorUD">this field is required</span>
            </div>
            <div class="modal-footer">
                <button type="button" id="btndiscrepentUD" class="btn btn-success bg1 ef1">Mark Discrepent</button>
                <button type="button" class="btn btn-danger bg1 ef1" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script>

    $('#commentId').attr('required', 'required');

    $(document).ready(function () {
        //alert('@ViewBag.PersonalAction');
        btnChange('@ViewBag.UploadedDocumentsAction');
    });


    function btnChange(currentState) {
        //alert(currentState);
        if (currentState == "Screened") {
            $('#screenBtnUD').html("<i class='fa fa-check'></i>  Marked Screened");
            $('#discrepentBtnUD').html("Discrepent");
        }
        else if (currentState == "Discrepent") {
            $('#discrepentBtnUD').html("<i class='fa fa-times'></i> Marked Discrepent");
            $('#screenBtnUD').html("Screen");
        }
        else if (currentState == "Hide") {
            $('#screenBtnUD').toggleClass("d-none");
            $('#discrepentBtnUD').toggleClass("d-none");
        }
    }

    $('#btnScreenUD').click(function () {
        debugger;
        var comment = $('#commentIdUD').val();
        var Id = $('#ApplicationId').val();
            $.ajax({
                    type: 'POST',
                    datatype: "json",
                    contenttype: 'application/json; charset=utf-8',
                    url: '@Url.Content("~/Dashboard/MarkScreened")',
                data: { 'ApplicationId': Id, 'Screen': 'Uploaded Documents'} ,
                success: function (data) {



                    $('.close').click();

                    if (data.result.includes("successfully")) {
                        abp.notify.success(data.result, 'Mark Screened');
                    }
                    else {
                        abp.notify.info(data.result, 'Mark Screened');
                    }

                    btnChange("Screened");


                    },
                    error: function (data) {
                        debugger
                        abp.notify.error(data.result, 'Error');
                     }


                });
    });
    $('#btndiscrepentUD').click(function () {
        debugger;
        if (!$('#commentIdUD').val()) {
            $('#comment_errorUD').css("display", "block");;
            return false;
        } else {
            $('#comment_errorUD').css("display", "none");
        }
        var comment = $('#commentIdUD').val();
        var Id = $('#ApplicationId').val();
            $.ajax({
                    type: 'POST',
                    datatype: "json",
                    contenttype: 'application/json; charset=utf-8',
                    url: '@Url.Content("~/Dashboard/MarkDiscrepent")',
                data: { 'ApplicationId': Id, 'Screen': 'Uploaded Documents','Reason': comment },
                success: function (data) {

                        $('.close').click();

                        if (data.result.includes("successfully")) {
                            abp.notify.success(data.result, 'Mark Discrepent');

                        }
                        else {
                            abp.notify.info(data.result, 'Mark Discrepent');
                    }

                    btnChange("Discrepent");

                    $('#commentIdUD').val("");

                    },
                    error: function (data) {
                        debugger;
                        abp.notify.error(data.result, 'Error');
                    }
                });
        });
</script>