@model TFCLPortal.BusinessDetails.Dto.BusinessDetailDto

@{ int campusSum = 0; }
@{ int branchesSum = 0; }
@{ int institutesSum = 0;}
<style>
    .modal-title {
        text-align: center;
        width: 100%;
    }

    .striped-border {
        border: 2px dashed #000;
        width: 85%;
        margin: auto;
        margin-top: 1%;
        margin-bottom: 2%;
    }
</style>
@if (@Model != null)
{
    <input type="hidden" id="ApplicationId" value="@Model.ApplicationId" />
    <div class="tab_content" style="padding: 15px 20px">
        <!---->
        <div class="row">
            <div class="col-md-4">
                <p class="detailHeading">
                    Experience of Running School (Years)
                </p>
                <p class="detailText">@(Model.TotalExperienceInEducationIndustry == null || Model.TotalExperienceInEducationIndustry == "" ? "--" : Model.TotalExperienceInEducationIndustry)</p>
            </div>

            <div class="col-md-4">
                <p class="detailHeading">
                    Applicant's Previous Experience (If any)
                </p>
                <p class="detailText">@(Model.PreviousExperience == null || Model.PreviousExperience == "" ? "--" : Model.PreviousExperience)</p>
            </div>

            <div class="col-md-4">
                <p class="detailHeading">
                    School NTN Number
                </p>
                <p class="detailText">@(Model.SchoolNtn == null || Model.SchoolNtn == "" ? "--" : Model.SchoolNtn)</p>
            </div>

            <div class="col-md-4">
                <p class="detailHeading">
                    Active Tax Payer (School)
                </p>
                @if (Model.isActiveTaxPayer == null)
                {<p class="detailText">N/A</p> }
                else if (Model.isActiveTaxPayer == false)
                {<p class="detailText">No</p>}
                else if (Model.isActiveTaxPayer == true)
                {<p class="detailText">Yes</p>}
            </div>

            <div class="col-md-4">
                <p class="detailHeading">
                    Other Campuses/Branches/Institutions
                </p>
                @if (Model.isOtherCampus == null)
                {<p class="detailText">N/A</p> }
                else if (Model.isOtherCampus == false)
                {<p class="detailText">No</p>}
                else if (Model.isOtherCampus == true)
                {<p class="detailText">Yes</p>}
            </div>

            @*<div class="col-md-4">
                    <p class="detailHeading">
                        No of Other Campuses/Branches/Institutions
                    </p>
                    <p class="detailText">@Model.NumberOfSchoolBranches</p>
                </div>*@

            @if (Model.school_Branches != null)
            {
                <div class="col-md-4">
                    <p class="detailHeading">
                        No of Campus(es)
                    </p>
                    @foreach (var item in Model.school_Branches)
                    {
                        if (@item.ClientBusinessClassificationName == "Campus")
                        {
                            campusSum++;
                        }
                    }
                    <p class="detailText">@campusSum</p>
                </div>

                <div class="col-md-4">
                    <p class="detailHeading">
                        No of Branch(es)
                    </p>
                    @foreach (var item in Model.school_Branches)
                    {
                        if (@item.ClientBusinessClassificationName == "Branch")
                        {
                            branchesSum++;
                        }
                    }
                    <p class="detailText">@branchesSum</p>
                </div>

                <div class="col-md-4">
                    <p class="detailHeading">
                        No of Institute(s)
                    </p>
                    @foreach (var item in Model.school_Branches)
                    {
                        if (@item.ClientBusinessClassificationName == "Institute")
                        {
                            institutesSum++;
                        }
                    }
                    <p class="detailText">@institutesSum</p>
                </div>

            }

            <div class="col-md-12">
                <div class="accordion md-accordion" id="accordionSchoolBranches" role="tablist" aria-multiselectable="true">
                    @if (Model.school_Branches != null)
                    {
                        foreach (var item in Model.school_Branches)
                        {
                            <div class="card">

                                <!-- Card header -->
                                <div class="card-header" role="tab" id="headingOneBD-@item.Id">
                                    <a data-toggle="collapse" data-parent="#accordionSchoolBranches" href="#collapseOneBD-@item.Id" aria-expanded="true"
                                       aria-controls="collapseOneBD-@item.Id">
                                        <h5 class="mb-0">
                                            @item.SchoolName <i class="fa fa-angle-down rotate-icon"></i>
                                        </h5>
                                    </a>
                                </div>

                                <!-- Card body -->
                                <div id="collapseOneBD-@item.Id" class="collapse @(Model.school_Branches.IndexOf(item)==0?"show":"")" role="tabpanel" aria-labelledby="headingOneBD-@item.Id"
                                     data-parent="#accordionSchoolBranches">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Client/Business Name
                                                </p>
                                                <p class="detailText">@(item.SchoolName == null || item.SchoolName == "" ? "--" : item.SchoolName)</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Client/Business Classification
                                                </p>
                                                <p class="detailText">@(item.ClientBusinessClassificationName == null || item.ClientBusinessClassificationName == "" ? "--" : item.ClientBusinessClassificationName)</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="detailHeading">
                                                    Address
                                                </p>
                                                <p class="detailText">@(item.SchoolAddress == null || item.SchoolAddress == "" ? "--" : item.SchoolAddress)</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Mouza/Town
                                                </p>
                                                <p class="detailText">@(item.Moza_Town == null || item.Moza_Town == "" ? "--" : item.Moza_Town)</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Union Council
                                                </p>
                                                <p class="detailText">@(item.UC_NO == null || item.UC_NO == "" ? "--" : item.UC_NO)</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Tehsil
                                                </p>
                                                <p class="detailText">@(item.Tehsil == null || item.Tehsil == "" ? "--" : item.Tehsil)</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    District
                                                </p>
                                                <p class="detailText">@(item.District == null || item.District == "" ? "--" : item.District)</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Province
                                                </p>
                                                <p class="detailText">@(item.Province == null || item.Province == "" ? "--" : item.Province)</p>
                                            </div>






                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Nearest Landmark
                                                </p>
                                                <p class="detailText">@(item.NearestLandmark == null || item.NearestLandmark == "" ? "--" : item.NearestLandmark)</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="detailHeading">
                                                    Location
                                                </p>
                                                <p class="detailText">
                                                    <a href="https://www.google.com/maps/search/?api=1&query=@item.Latitude,@item.Longitude" target="_blank">Click here to point the location</a> </p>
                                            </div>
                                            @*<div class="col-md-3">
                                                <p class="detailHeading">
                                                    Latitude
                                                </p>
                                                <p class="detailText"><b style="font-weight:600">@item.Latitude</b></p>
                                            </div>*@

                                            

                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Business Place Status
                                                </p>
                                                <p class="detailText">@(item.OwnershipStatusName == null || item.OwnershipStatusName == "" ? "--" : item.OwnershipStatusName)</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Rent Agreement Signatory
                                                </p>
                                                <p class="detailText">@(item.RentAgreementSignatoryName == null || item.RentAgreementSignatoryName == "" ? "--" : item.RentAgreementSignatoryName)</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Others
                                                </p>
                                                <p class="detailText">@(item.rentAgreementSignatoryOthers == null || item.rentAgreementSignatoryOthers == "" ? "--" : item.rentAgreementSignatoryOthers)</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Monthly Rent (Rs)
                                                </p>
                                                <p class="detailText">@(item.MonthlyRent == null || item.MonthlyRent == 0 ? "--" : string.Format("{0:#,###}", item.MonthlyRent))</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Monthly Rent Sharing (%age)
                                                </p>
                                                <p class="detailText">@(item.MonthlyRentSharing == null || item.MonthlyRentSharing == 0 ? "--" : (Convert.ToInt32(item.MonthlyRentSharing)).ToString()+" %")</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Monthly Share (Rs)
                                                </p>
                                                <p class="detailText">@(item.MonthlyShare == null || item.MonthlyShare == 0 ? "--" : string.Format("{0:#,##0}", item.MonthlyShare))</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Rent Agreement Expiry Date
                                                </p>
                                                @*@{ item.RentAgreementExpiryDate = DateTime.Parse("12/8/2020");}*@
                                                @{ DateTime NotNullableDT = item.RentAgreementExpiryDate ?? DateTime.Now.Date.AddDays(1);}

                                                <p class="detailText @( DateTime.Compare(NotNullableDT, DateTime.Now.Date)<0 ? "text-danger" : (DateTime.Compare(NotNullableDT, DateTime.Now.Date)==0 ? "text-orange" : ""))">@(item.RentAgreementExpiryDate == null ? "--" : string.Format("{0:dd MMM yyyy}", item.RentAgreementExpiryDate))</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Established Since
                                                </p>
                                                <p class="detailText">@(item.EstablishedSince == null ? "--" : string.Format("{0:dd MMM yyyy}", item.EstablishedSince))</p>
                                            </div>
                                            @*<div class="col-md-3">
                                                    <p class="detailHeading">
                                                        Business Age
                                                    </p>
                                                    <p class="detailText"><b style="font-weight:600">@(item.BusinessAge == null || item.BusinessAge == "" ? "--" : item.BusinessAge)</b></p>
                                                </div>*@
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Business Age <i class="fa fa-info-circle" style="float: right" data-toggle="tooltip" title="Allowed Minimum Years : @item.AllowedMinBusinessAge years"></i>
                                                </p>
                                                @if (item.CalculatedBusinessAge != null && item.CalculatedBusinessAge != "" && item.CalculatedBusinessAge != "--")
                                                {
                                                    <p class="detailText @(Convert.ToInt32(item.CalculatedBusinessAge.Substring(0, 2)) >= Convert.ToInt32(item.AllowedMinBusinessAge)? "" : "text-danger") "><b style="font-weight:600">@(item.CalculatedBusinessAge == null || item.CalculatedBusinessAge == "" ? "--" : item.CalculatedBusinessAge)</b></p>
                                                }
                                                else
                                                {
                                                    <p class="detailText">--</p>
                                                }
                                                @*<p class="detailText"><b style="font-weight:600">@(item.BusinessAge == null || item.BusinessAge == "" ? "--" : item.BusinessAge)</b></p>*@
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Current Address Since
                                                </p>
                                                <p class="detailText">@(item.CurrentAddressSince == null ? "--" : string.Format("{0:dd MMM yyyy}", item.CurrentAddressSince))</p>
                                            </div>
                                            @*<div class="col-md-3">
                                                    <p class="detailHeading">
                                                        Time at current Address
                                                    </p>
                                                    <p class="detailText"><b style="font-weight:600">@(item.TimeAtCurrentAddress == null || item.TimeAtCurrentAddress == "" ? "--" : item.TimeAtCurrentAddress)</b></p>
                                                </div>*@
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Time at current Address <i class="fa fa-info-circle" style="float: right" data-toggle="tooltip" title="Allowed Minimum Years : @item.AllowedMinTimeAtCurrentAddress years"></i>
                                                </p>
                                                @if (item.CalculatedTimeAtCurrentAddress != null && item.CalculatedTimeAtCurrentAddress != "" && item.CalculatedTimeAtCurrentAddress != "--")
                                                {
                                                    <p class="detailText @(Convert.ToInt32(item.CalculatedTimeAtCurrentAddress.Substring(0, 2)) >= Convert.ToInt32(item.AllowedMinTimeAtCurrentAddress)? "" : "text-danger") "><b style="font-weight:600">@(item.CalculatedTimeAtCurrentAddress == null || item.CalculatedTimeAtCurrentAddress == "" ? "--" : item.CalculatedTimeAtCurrentAddress)</b></p>
                                                }
                                                else
                                                {
                                                    <p class="detailText">--</p>
                                                }
                                                @*<p class="detailText"><b style="font-weight:600">@(item.TimeAtCurrentAddress == null || item.TimeAtCurrentAddress == "" ? "--" : item.TimeAtCurrentAddress)</b></p>*@
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Franchise
                                                </p>
                                                @if (item.isFranchise == null)
                                                {<p class="detailText">N/A</p> }
                                                else if (item.isFranchise == false)
                                                {<p class="detailText">No</p>}
                                                else if (item.isFranchise == true)
                                                {<p class="detailText">Yes</p>}
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Franchiser Name
                                                </p>
                                                <p class="detailText">@(item.FranchiserName == null || item.FranchiserName == "" ? "--" : item.FranchiserName)</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Business Nature
                                                </p>
                                                <p class="detailText">@(item.SchoolBranchBusinessNatureName == null || item.SchoolBranchBusinessNatureName == "" ? "--" : item.SchoolBranchBusinessNatureName)</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Others
                                                </p>
                                                <p class="detailText">@(item.otherBusinessNature == null || item.otherBusinessNature == "" ? "--" : item.otherBusinessNature)</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Academic Session
                                                </p>
                                                <p class="detailText">@(item.AcademicSessionName == null || item.AcademicSessionName == "" ? "--" : item.AcademicSessionName)</p>
                                            </div>

                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Category
                                                </p>
                                                <p class="detailText">@(item.CategoryName == null || item.CategoryName == "" ? "--" : item.CategoryName)</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    No. Of Accountants
                                                </p>
                                                <p class="detailText">@item.NoOfBranchAccount</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Class Rooms
                                                </p>
                                                <p class="detailText">@item.ClassRooms</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Administrative Rooms
                                                </p>
                                                <p class="detailText">@item.AdministrativeRooms</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Wash Rooms
                                                </p>
                                                <p class="detailText">@item.WashRooms</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Computer Labs
                                                </p>
                                                <p class="detailText">@item.ComputerLabs</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Science Labs
                                                </p>
                                                <p class="detailText">@item.ScienceLabs</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Library
                                                </p>
                                                <p class="detailText">@item.Libraries</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Play Grounds
                                                </p>
                                                <p class="detailText">@item.Playgrounds</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Canteen
                                                </p>
                                                <p class="detailText">@item.Canteens</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Auditorium / Hall
                                                </p>
                                                <p class="detailText">@item.Auditoriums</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Electricity Connections
                                                </p>
                                                <p class="detailText">@item.noOfElectricityConnections</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Water / Gas Connections
                                                </p>
                                                <p class="detailText">@item.noOfWaterGasConnections</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Landline Connections
                                                </p>
                                                <p class="detailText">@item.noOfLandlineConnections</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-6">
                                                <table class="table table-bordered text-center">
                                                    <thead>
                                                    <th>Staff Details</th>
                                                    <th>Male</th>
                                                    <th>Female</th>
                                                    <th>Total</th>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-weight: 300;">Paid Teaching Staff</td>
                                                            <td style="font-weight: 300;">@item.PaidTeachingStaffMale</td>
                                                            <td style="font-weight: 300;">@item.PaidTeachingStaffFemale</td>
                                                            <td style="font-weight: 600;">@item.PaidTeachingStaffTotal</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-weight: 300;">Un-Paid Teaching Staff</td>
                                                            <td style="font-weight: 300;">@item.UnPaidTeachingStaffMale</td>
                                                            <td style="font-weight: 300;">@item.UnPaidTeachingStaffFemale</td>
                                                            <td style="font-weight: 600;">@item.UnPaidTeachingStaffTotal</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Total Teaching Staff</td>
                                                            <td style="font-weight: 600;">@item.TotalTeachingStaffMale</td>
                                                            <td style="font-weight: 600;">@item.TotalTeachingStaffFemale</td>
                                                            <td style="font-weight: 600;">@item.TotalTeachingStaffTotal</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-weight: 300;">Non-Teaching Staff</td>
                                                            <td style="font-weight: 300;">@item.NonTeachingStaffMale</td>
                                                            <td style="font-weight: 300;">@item.NonTeachingStaffFemale</td>
                                                            <td style="font-weight: 600;">@item.NonTeachingStaffTotal</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Total Staff</td>
                                                            <td style="font-weight: 600;">@item.TotalStaffMale</td>
                                                            <td style="font-weight: 600;">@item.TotalStaffFemale</td>
                                                            <td style="font-weight: 600;">@item.TotalStaffTotal</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Sections/Active Classes
                                                </p>
                                                <p class="detailText">@item.SectionsActiveClasses</p>
                                            </div>

                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Area Of School (Sq.ft)
                                                </p>
                                                <p class="detailText">@(item.AreaOfSchool == ""  ? "--" : string.Format("{0:#,###}", Int32.Parse(item.AreaOfSchool.Replace(",",""))))</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    School Contact Number
                                                </p>
                                                <p class="detailText">@(item.SchoolContactNo == null || item.SchoolContactNo == "" ? "--" : item.SchoolContactNo)</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Personal Email
                                                </p>
                                                <p class="detailText" style="text-transform:lowercase">@(item.PersonalEmail == null || item.PersonalEmail == "" ? "--" : item.PersonalEmail)</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Official Email
                                                </p>
                                                <p class="detailText"  style="text-transform:lowercase">@(item.OfficialEmail == null || item.OfficialEmail == "" ? "--" : item.OfficialEmail)</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Fax Number
                                                </p>
                                                <p class="detailText">@(item.FaxNo == null || item.FaxNo == "" ? "--" : item.FaxNo)</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Contact Preferences
                                                </p>
                                                <p class="detailText">@(item.ContactPreferences == null || item.ContactPreferences == "" ? "--" : item.ContactPreferences)</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    School Type
                                                </p>
                                                <p class="detailText">@(item.BusinessTypeName == null || item.BusinessTypeName == "" ? "--" : item.BusinessTypeName)</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Others
                                                </p>
                                                <p class="detailText">@(item.BusinessTypeOthers == null || item.BusinessTypeOthers == "" ? "--" : item.BusinessTypeOthers)</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    School Level
                                                </p>
                                                <p class="detailText">@(item.SchoolLevelName == null || item.SchoolLevelName == "" ? "--" : item.SchoolLevelName)</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    No of Programme(s)
                                                </p>
                                                <p class="detailText">@(item.noOfPrograms == 0 || item.noOfPrograms == 42 ? "--" : item.noOfPrograms.ToString())</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Legal Status
                                                </p>
                                                <p class="detailText">@(item.LegalStatusName == null || item.LegalStatusName == "" ? "--" : item.LegalStatusName)</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Others
                                                </p>
                                                <p class="detailText">@(item.LegalStatusOthers == null || item.LegalStatusOthers == "" ? "--" : item.LegalStatusOthers)</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="detailHeading">
                                                    No of Partner(s) / Investor(s) / Director(s)
                                                </p>
                                                <p class="detailText">@item.NoOfPartnersInvestorsDirectors</p>
                                            </div>



                                            <div class="col-md-6">
                                                <p class="detailHeading">
                                                    Name of Partner(S) / Investor(S) / Director(S)
                                                </p>
                                                <p class="detailText">@(item.NameOfPartnerInvestorDirector == null || item.NameOfPartnerInvestorDirector == "" ? "--" : item.NameOfPartnerInvestorDirector)</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    %age of Profit Share (Applicant)
                                                </p>
                                                <p class="detailText">@(item.percentageOfProfitShare == 0 ? "--" : (Convert.ToInt32(item.percentageOfProfitShare)).ToString()+" %")</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Business Profit Considered (%)
                                                </p>
                                                <p class="detailText">@(item.BusinessProfitConsidered == null || item.BusinessProfitConsidered == "" ? "--" : item.BusinessProfitConsidered)</p>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Board Affiliation
                                                </p>
                                                @if (item.isBoardAffiliation == null)
                                                {<p class="detailText">N/A</p> }
                                                else if (item.isBoardAffiliation == false)
                                                {<p class="detailText">No</p>}
                                                else if (item.isBoardAffiliation == true)
                                                {<p class="detailText">Yes</p>}
                                            </div>

                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Affiliation Since
                                                </p>
                                                <p class="detailText">@(item.AffiliationSince == null ? "--" : string.Format("{0:dd MMM yyyy}", item.AffiliationSince))</p>
                                            </div>

                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Affiliation Board Name
                                                </p>
                                                <p class="detailText">@(item.AffiliatedBoardName == null || item.AffiliatedBoardName == "" ? "--" : item.AffiliatedBoardName)</p>
                                            </div>

                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Affiliation Number
                                                </p>
                                                <p class="detailText">@(item.AffiliationRegistrationNumber == null || item.AffiliationRegistrationNumber == "" ? "--" : item.AffiliationRegistrationNumber)</p>
                                            </div>

                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Affiliation Expiry Date
                                                </p>
                                                @{ DateTime NotNullableDT2 = item.AffiliationRegistrationExpiry ?? DateTime.Now.Date.AddDays(1);}
                                                <p class="detailText @( DateTime.Compare(NotNullableDT2, DateTime.Now.Date)<0 ? "text-danger" : (DateTime.Compare(NotNullableDT2, DateTime.Now.Date)==0 ? "text-orange" : ""))">@(item.AffiliationRegistrationExpiry == null ? "--" : string.Format("{0:dd MMM yyyy}", item.AffiliationRegistrationExpiry))</p>
                                            </div>

                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Reason for No Affiliation
                                                </p>
                                                <p class="detailText">@(item.AffiliationReasonNotRegistered == null || item.AffiliationReasonNotRegistered == "" ? "--" : item.AffiliationReasonNotRegistered)</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Registration Status
                                                </p>

                                                @if (item.RegistrationStatus == null || item.RegistrationStatus == "")
                                                {<p class="detailText">N/A</p> }
                                                else
                                                {<p class="detailText">@item.RegistrationStatus</p>}
                                            </div>

                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Registered Since
                                                </p>
                                                <p class="detailText">@(item.RegisteredSince == null ? "--" : string.Format("{0:dd MMM yyyy}", item.RegisteredSince))</p>
                                            </div>

                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Registration number
                                                </p>
                                                <p class="detailText">@(item.RegistrationNumber == null || item.RegistrationNumber == "" ? "--" : item.RegistrationNumber)</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Registration Authority
                                                </p>
                                                <p class="detailText">@(item.RegistrationAuthority == null || item.RegistrationAuthority == "" ? "--" : item.RegistrationAuthority)</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Registration Expiry Date
                                                </p>
                                                @{ DateTime NotNullableDT3 = item.RegistrationExpiry ?? DateTime.Now.Date.AddDays(1);}
                                                <p class="detailText @( DateTime.Compare(NotNullableDT3, DateTime.Now.Date)<0 ? "text-danger" : (DateTime.Compare(NotNullableDT3, DateTime.Now.Date)==0 ? "text-orange" : ""))">@(item.RegistrationExpiry == null ? "--" : string.Format("{0:dd MMM yyyy}", item.RegistrationExpiry))</p>
                                            </div>

                                            <div class="col-md-4">
                                                <p class="detailHeading">
                                                    Reason for Not Registered / Renewed
                                                </p>
                                                <p class="detailText">@(item.ReasonForNotRegistered == null || item.ReasonForNotRegistered == "" ? "--" : item.ReasonForNotRegistered)</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Associated Academy
                                                </p>
                                                @if (item.isAcademy == null)
                                                {<p class="detailText">N/A</p> }
                                                else if (item.isAcademy == false)
                                                {<p class="detailText">No</p>}
                                                else if (item.isAcademy == true)
                                                {<p class="detailText">Yes</p>}
                                            </div>

                                            <div class="col-md-3">
                                                <p class="detailHeading">
                                                    Name of Academy
                                                </p>
                                                <p class="detailText">@(item.AcademyName == null || item.AcademyName == "" ? "--" : item.AcademyName)</p>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

            <div class="col-md-12" style="text-align: right;">
                <a id="screenBtnBD" href="" data-toggle="modal" data-target="#_BusinessDetail_approved" class="btn btn-sm btn-outline-success" title="Screen">Screen<span></span></a>
                <a id="discrepentBtnBD" href="" data-toggle="modal" data-target="#_BusinessDetail_discrepant" class="btn btn-sm btn-outline-danger" title="Discrepent">Discrepent<span></span></a>
            </div>

        </div>
    </div>
}
else
{
    <div class="tab_content" style="padding: 15px 20px">
        <div class="row">
            <span style="text-align: center;width: 100%;color: black;font-weight: bold;">sorry, Data  is not available againt this application .</span>
        </div>
    </div>
}

<!--Approved Modal -->
<div class="modal fade" id="_BusinessDetail_approved" tabindex="-1" role="dialog" style="z-index: 1100;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Approved Confirmation</div>
                <button type="button" class="close" data-dismiss="modal" aria-div="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to mark this form Screened?
            </div>
            <div class="modal-footer">
                <button id="btnScreenBD" type="button" class="btn btn-success bg1 ef1">Mark Screened</button>
                <button data-dismiss="modal" type="button" class="btn btn-danger bg1 ef1">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<!--discrepent Modal -->
<div class="modal fade" id="_BusinessDetail_discrepant" tabindex="-1" role="dialog" style="z-index: 1100;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">discrepent Confirmation</div>
                <button type="button" class="close" data-dismiss="modal" aria-div="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea placeholder="Type Reason" id="commentIdBD"></textarea>
                <span class="text-danger" style="display:none" id="comment_errorBD">this field is required</span>
            </div>
            <div class="modal-footer">
                <button type="button" id="btndiscrepentBD" class="btn btn-success bg1 ef1">Mark Discrepent</button>
                <button type="button" class="btn btn-danger bg1 ef1" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script>

    $('#commentId').attr('required', 'required');

    $(document).ready(function () {
        //alert('@ViewBag.PersonalAction');
        btnChange('@ViewBag.BusinessDetailAction');
    });


    function btnChange(currentState) {
        //alert(currentState);
        if (currentState == "Screened") {
            $('#screenBtnBD').html("<i class='fa fa-check'></i>  Marked Screened");
            //$('#screenBtnBD').click(false);


            $('#discrepentBtnBD').html("Discrepent");
            //$("#discrepentBtnBD").attr("data-toggle", "modal");
            //$("#discrepentBtnBD").attr("data-target", "#_businessPlan_discrepent");
            //$("#discrepentBtnBD").attr("href", "");
            //$('#screenBtnBD').click(true);
        }
        else if (currentState == "Discrepent") {

            $('#discrepentBtnBD').html("<i class='fa fa-times'></i> Marked Discrepent");
            //$('#discrepentBtnBD').click(false);

            $('#screenBtnBD').html("Screen");
            //$("#screenBtnBD").attr("data-toggle", "modal");
            //$("#screenBtnBD").attr("data-target", "#_businessPlan_approved");
            //$("#screenBtnBD").attr("href", "");
            //$('#screenBtnBD').click(true);

        }
        else if (currentState == "Hide") {
            $('#screenBtnBD').toggleClass("d-none");
            $('#discrepentBtnBD').toggleClass("d-none");
        }
    }

    $('#btnScreenBD').click(function () {
        debugger;
        var comment = $('#commentIdBD').val();
        var Id = $('#ApplicationId').val();
            $.ajax({
                    type: 'POST',
                    datatype: "json",
                    contenttype: 'application/json; charset=utf-8',
                    url: '@Url.Content("~/Dashboard/MarkScreened")',
                data: { 'ApplicationId': Id, 'Screen': 'Business Details'} ,
                success: function (data) {



                    $('.close').click();

                    if (data.result.includes("successfully")) {
                        abp.notify.success(data.result, 'Mark Screened');
                    }
                    else {
                        abp.notify.info(data.result, 'Mark Screened');
                    }

                    btnChange("Screened");


                    },
                    error: function (data) {
                        debugger
                        abp.notify.error(data.result, 'Error');
                     }


                });
    });
    $('#btndiscrepentBD').click(function () {
        debugger;
        if (!$('#commentIdBD').val()) {
            $('#comment_errorBD').css("display", "block");;
            return false;
        } else {
            $('#comment_errorBD').css("display", "none");
        }
        var comment = $('#commentIdBD').val();
        var Id = $('#ApplicationId').val();
            $.ajax({
                    type: 'POST',
                    datatype: "json",
                    contenttype: 'application/json; charset=utf-8',
                    url: '@Url.Content("~/Dashboard/MarkDiscrepent")',
                data: { 'ApplicationId': Id, 'Screen': 'Business Details','Reason': comment },
                success: function (data) {

                        $('.close').click();

                        if (data.result.includes("successfully")) {
                            abp.notify.success(data.result, 'Mark Discrepent');

                        }
                        else {
                            abp.notify.info(data.result, 'Mark Discrepent');
                    }

                    btnChange("Discrepent");

                    $('#commentIdBD').val("");

                    },
                    error: function (data) {
                        debugger;
                        abp.notify.error(data.result, 'Error');
                    }
                });
        });
</script>
