@model TFCLPortal.Web.Models.Portfolio.PortfolioByUserModel
@{
    ViewData["Title"] = "Applications";
    Layout = "~/Views/Shared/_NewLayout.cshtml";

}
<style>
    .dropdown-item {
        font-size: 11px;
        color: #416a2c;
        text-align: left;
    }

    #dataTable_length {
        display: inherit;
    }
    /*.dataTables_wrapper {*/
    /*overflow: inherit !important;*/
    /*}*/
    .pageloader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('/Theame/images/loader.gif') 50% 50% no-repeat rgb(249, 249, 249);
        opacity: .8;
    }
</style>
<!-- ### $App Screen Content ### -->
<main class='main-content bgc-grey-100' style="padding-top:50px">
    <div class="pageloader d-none"></div>

    <div class="row page-title">
        <div class="col-md-6 text-left">
            <h4 class="page-title-text">
                @ViewBag.ScreenTitle
            </h4>
            <h6 class="page-title-breadcrumbs">
                <a href="~/Dashboard/Dashboard">Home</a> > Loan Applications > @ViewBag.ScreenTitle
            </h6>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/PortfolioTagging/Index" class="btn btn-sm btn-outline-success bg1 eft-1" title="Back"><i class="fa fa-angle-double-left"></i> Back To SDEs/BDEs List </a>
        </div>
    </div>
    <div class="card p-10 mB-20">
        <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%" style="min-height: 400px;">
            <thead>
                <tr>
                    <th>Sr#</th>
                    <th style="width: 80px !important">Client Id</th>
                    <th>Applicant / Respondent Name</th>
                    <th>Client / School / Business Name</th>
                    <th>CNIC</th>
                    <th>App Status </th>
                    <th>Comments </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    int i = 0;
                    foreach (var item in Model.UserApplications.ToList())
                    {
                        i = i + 1;
                        <tr>
                            <td>@i</td>
                            <td>@item.ClientID</td>
                            <td>@item.ClientName</td>
                            <td>@item.SchoolName</td>
                            <td>@item.CNICNo</td>
                            <td>@item.ScreenStatus</td>
                            <td>@(item.Comments==""?"--":item.Comments)</td>
                            <td>
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-list"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        @foreach (var user in ViewBag.UsersList)
                                        {
                                            <a class="dropdown-item" onclick="callFunc(@item.CreatorUserId,@item.Id,@user.Id,'@item.ClientID','@user.FullName');"><i class="fa fa-at"></i> Tag to @user.FullName</a>
                                        }
                                    </div>
                                </div>

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>


    @if (Model.UserTaggedApplications.ToList().Count > 0)
    {
        <div class="row page-title">
            <div class="col-md-6 text-left">
                <h4 class="page-title-text">
                    @ViewBag.ScreenTaggedTitle
                </h4>
            </div>

        </div>
        <div class="card p-10 mB-20">
            <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Sr#</th>
                        <th style="width: 80px !important">Client Id</th>
                        <th>Applicant / Respondent Name</th>
                        <th>Client / School / Business Name</th>
                        <th>CNIC</th>
                        <th>App Status </th>
                        <th>Transferred From</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        int i = 0;
                        foreach (var item in Model.UserTaggedApplications.ToList())
                        {
                            i = i + 1;
                            <tr>
                                <td>@i</td>
                                <td>@item.ClientID</td>
                                <td>@item.ClientName</td>
                                <td>@item.SchoolName</td>
                                <td>@item.CNICNo</td>
                                @*<td>@item.Brances.BranchName</td>*@
                                <td>@item.ScreenStatus</td>
                                <td>
                                    @item.Comments
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }

    <script>
        function callFunc(CurrentUser, ApplicationId, TagTo, ClientID, newSDEName) {
            if (confirm('Are you sure you want to transfer ' + ClientID + ' to ' + newSDEName)) {
                //alert(CurrentUser + ' : ' + ApplicationId + ' : ' + TagTo);
                $(".pageloader").toggleClass("d-none");
                $.ajax({
                    type: 'POST',
                    datatype: "json",
                    url: '@Url.Content("~/PortfolioTagging/TransferPortfolio")',
                    data: { 'ApplicationId': ApplicationId, 'OldUserId': CurrentUser,'NewUserId':TagTo},
                    success: function (data) {

                        alert("Application Transfer sent for Authorization!");
                        $(".pageloader").toggleClass("d-none");
                         var returnData = data.result;
                         abp.notify.success(returnData, "Success");
                         window.location.reload();

                    },
                    error: function (data) {

                        abp.notify.error("Some error occure contact with admin..!", "error");
                        console.log(data);
                    }
                  });

            }
        }
    </script>

</main>
