@model TFCLPortal.Web.Models.McModels.McModel

@{ int i = 0;}
@{
    int n = 0;
    List<TFCLPortal.ManagmentCommitteeDecisions.Dto.ManagmentCommitteeDecisionListDto> decisions = new List<TFCLPortal.ManagmentCommitteeDecisions.Dto.ManagmentCommitteeDecisionListDto>();
}

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<style>
    .dataTable tr th, .dataTable tr td {
        text-align: center;
        background-image: none;
        position: relative;
    }

    .dropdown-item {
        font-size: 11px;
        color: #416a2c;
        text-align: left;
    }
</style>
<!-- ### $App Screen Content ### -->
<main class='main-content bgc-grey-100' style="padding-top:50px">
    <div class="row page-title">
        <div class="col-md-6 text-left">
            <h4 class="page-title-text">
                BCC Approved Applications
            </h4>
            <h6 class="page-title-breadcrumbs">
                <a href="~/Dashboard/Dashboard">Home</a> > Management Committee  > BCC Approved Applications
            </h6>
        </div>
        <div class="col-md-6 text-right">
            @*<button class="btn btn-sm btn-outline-success" onclick="$('#filterForm').toggle();"><i class="fa fa-filter"></i> Filter Records</button>*@
            <a href="~/Dashboard/Dashboard" class="btn btn-sm btn-outline-success bg1 eft-1" title="Back"><i class="fa fa-angle-double-left"></i> Back To Home </a>
        </div>
    </div>
    <div class="card p-10 mB-20">
        @*<p>
                <a asp-action="Create">Create New</a>
            </p>*@
        <table class=" dataTable table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        Sr
                    </th>
                    <th>
                        CLIENT ID
                    </th>
                    <th>
                        APPLICANT / RESPONDENT NAME
                    </th>
                    <th>
                        Client / School / Business Name
                    </th>

                    <th colspan="1">
                        Action
                    </th>
                    <th colspan="3">
                        Details
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.applications)
                {
                    <tr>
                        <td> @{i = i + 1;} @i</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClientID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClientName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SchoolName)
                        </td>

                        <td>
                            <a onclick="if (confirm('Are you sure?')) { window.location.href = '@Url.Action("CreateMC", "ManagmentCommitteeDecisions", new { Id = item.Id })'; }"><i class="fa fa-check-circle"></i> Approve </a>
                            @*<a asp-action="CreateMC" asp-route-id="@item.Id" onclick="confirm('Are You Sure?');"><i class="fa fa-check-circle"></i> Approve </a>*@
                        </td>
                        <td>
                            @if (item.ProductType == 1 || item.ProductType == 2)
                            {
                                <a href="/Dashboard/Application?id=@item.Id" target="_blank"><i class="fa fa-search"></i> View Details</a>
                            }
                            else if (item.ProductType == 8 || item.ProductType == 9)
                            {
                                <a href="/Dashboard/TdsApplication?id=@item.Id" target="_blank"><i class="fa fa-search"></i> View Details</a>
                            }
                        </td>
                        <td>
                            <a href="/McrcDecisions/Index?ApplicationId=@item.Id" target="_blank"><i class="fa fa-comment"></i> MCRC Decisions</a>
                        </td>
                        <td>
                            <a href="/BCCDecisions/Index?ApplicationId=@item.Id" target="_blank"><i class="fa fa-comment"></i> BCC Decisions</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="card p-10 mB-20">

        <div class="row page-title mt-3 mb-3">
            <div class="col-md-6 text-left">
                <h4 class="page-title-text" style="text-transform:capitalize">
                    Applied Decisions
                </h4>
            </div>
        </div>
        <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        Sr
                    </th>
                    <th>
                        CLIENT ID
                    </th>
                    <th>
                        APPLICANT / RESPONDENT NAME
                    </th>
                    <th>
                        Client / School / Business Name
                    </th>
                    <th>
                        State
                    </th>
                    <th>
                        Authorization By (No Of MCM)
                    </th>
                    <th>
                        Decision Date
                    </th>
                    <th>
                        BCC Approval Date
                    </th>
                    <th>
                        Details
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var Outeritem in Model.decisions.GroupBy(x => x.ApplicationId).ToList())
                {

                    var item = Model.decisions.Where(x => x.ApplicationId == Outeritem.Key).FirstOrDefault();

                <tr>
                    <td> @{n = n + 1;} @n</td>
                    <td>
                        @item.ClientID
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SchoolName)
                    </td>
                    @*<td>
            @Html.DisplayFor(modelItem => item.State)
        </td>*@
                    @if (Outeritem.Count() < 3)
                    {
                        <td>Pending</td>
                    }
                    else
                    {
                        <td>Authorized</td>
                    }

                    <td width="10%">
                        @if (Outeritem.Count() < 3)
                        {
                            @(Outeritem.Count())
                        }
                        else
                        {
                            @(3)
                        }
                    </td>
                    <td>@item.CreationTime.ToString("dd MMM yyyy hh:mm tt")</td>
                    <td>@(item.BccApprovalDate==null? "--": String.Format("{0:dd MMM yyyy hh:mm tt}", item.BccApprovalDate))</td>
                    <td>
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-list"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                @if (item.productType == 1 || item.productType == 2)
                                {
                                    <a class="dropdown-item" href="/Dashboard/Application?id=@item.ApplicationId" target="_blank"><i class="fa fa-search"></i> View Details</a>
                                }
                                else if (item.productType == 8 || item.productType == 9)
                                {
                                    <a class="dropdown-item" href="/Dashboard/TdsApplication?id=@item.ApplicationId" target="_blank"><i class="fa fa-search"></i> View Details</a>
                                }
                                <a class="dropdown-item" href="/McrcDecisions/Index?ApplicationId=@item.ApplicationId" target="_blank"><i class="fa fa-comment"></i> MCRC Decisions</a>
                                <a class="dropdown-item" href="/BCCDecisions/Index?ApplicationId=@item.ApplicationId" target="_blank"><i class="fa fa-comment"></i> BCC Decisions</a>

                            </div>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    @*<table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        Details
                    </th>
                    <th>
                        Details
                    </th>
                </tr>
            </thead>
            <tbody>




                    <tr>
                        <td> @item.Key</td>

                        <td> @(item.Count())</td>
                    </tr>
            </tbody>
        </table>*@

</main>