@model IEnumerable<TFCLPortal.Companies.Dto.CompanyDetailListDto>

@{
    ViewData["Title"] = "Company";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <div class="container-fluid">
                <p>
                    <a asp-action="CreateCompany">Create New</a>
                </p>
                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20">
                            <div class="card p-10 mB-20">
                                <h4 class="">Company list</h4>
                            </div>
                            <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Address)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.GST)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.NTN)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Email)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Contact)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Active)
                                        </th>
                                        <th>Edit</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Address)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.GST)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NTN)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Email)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Contact)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Active)
                                                </td>

                                                <td>
                                                    <a asp-action="EditCompany" asp-route-id="@item.Id" class="edit-btn"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                    @*<a asp-action="EditCompany" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></a> |*@

                                                </td>
                                            </tr>
                                        }
                                    }


                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

@*<h2>Company</h2>

<p>
    <a asp-action="CreateCompany">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GST)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NTN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GST)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NTN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>

                    <td>
                        <a asp-action="EditCompany" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>*@
