@model TFCLPortal.McrcDecisions.Dto.McrcDecisionListDto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<main class='main-content bgc-grey-100' style="padding-top:50px">
    <div class="row page-title">
        <div class="col-md-6 text-left">
            <h4 class="page-title-text">
                Mcrc Decision Details
            </h4>
            <h6 class="page-title-breadcrumbs">
                <a href="~/Dashboard/Dashboard">Home</a> > Branch Credit Committee > Mcrc Decision Details
            </h6>
        </div>
        <div class="col-md-6 text-right">
            @*<button class="btn btn-sm btn-outline-success" onclick="$('#filterForm').toggle();"><i class="fa fa-filter"></i> Filter Records</button>*@
            <a href="~/McrcDecisions/Index" class="btn btn-sm btn-outline-success bg1 eft-1" title="Back"><i class="fa fa-angle-double-left"></i> Back To Listing </a>
            <a href="~/Dashboard/Dashboard" class="btn btn-sm btn-outline-success bg1 eft-1" title="Back"><i class="fa fa-angle-double-left"></i> Back To Home </a>
        </div>
    </div>
    <div class="card p-10 mB-20">
        <div class="row">
            <div class="col-md-4">
                <p class="detailHeading">
                    Client Id
                </p>
                <p class="detailText">
                    @Html.DisplayFor(model => model.ClientId)
                </p>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p class="detailHeading">
                    @Html.DisplayNameFor(model => model.McrcId)
                </p>
                <p class="detailText">
                    @Html.DisplayFor(model => model.McrcId)
                </p>
            </div>
            <div class="col-md-4">
                <p class="detailHeading">
                    APPLICANT / RESPONDENT NAME
                </p>
                <p class="detailText">
                    @Html.DisplayFor(model => model.ApplicantName)
                </p>
            </div>
            <div class="col-md-4">
                <p class="detailHeading">
                    Client / School / Business Name
                </p>
                <p class="detailText">
                    @Html.DisplayFor(model => model.SchoolName)
                </p>
            </div>
            <div class="col-md-4">
                <p class="detailHeading">
                    CNIC No.
                </p>
                <p class="detailText">
                    @Html.DisplayFor(model => model.CNIC)
                </p>
            </div>
            @if (Model.McrcMember1UserName != null)
            {
                <div class="col-md-4">
                    <p class="detailHeading">
                        Mcrc Member 1 Name
                    </p>
                    <p class="detailText">
                        @Html.DisplayFor(model => model.McrcMember1UserName)
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="detailHeading">
                        Mcrc Member 1 Recommendation
                    </p>
                    <p class="detailText">
                        @Html.DisplayFor(model => model.McrcMember1Recommendation)
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="detailHeading">
                        Recommendation Reason
                    </p>

                    <p class="detailText">@(Model.McrcMember1Reason == null || Model.McrcMember1Reason == "" ? "--" : Model.McrcMember1Reason)</p>
                </div>
            }
            @if (Model.McrcMember2UserName != null)
            {
                <div class="col-md-4">
                    <p class="detailHeading">
                        Mcrc Member 2 Name
                    </p>
                    <p class="detailText">
                        @Html.DisplayFor(model => model.McrcMember2UserName)
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="detailHeading">
                        Mcrc Member 2 Recommendation
                    </p>
                    <p class="detailText">
                        @Html.DisplayFor(model => model.McrcMember2Recommendation)
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="detailHeading">
                        Recommendation Reason
                    </p>

                    <p class="detailText">@(Model.McrcMember2Reason == null || Model.McrcMember2Reason == "" ? "--" : Model.McrcMember2Reason)</p>
                </div>
            }
            @if (Model.McrcMember3UserName != null)
            {
                <div class="col-md-4">
                    <p class="detailHeading">
                        Mcrc Member 3 Name
                    </p>
                    <p class="detailText">
                        @Html.DisplayFor(model => model.McrcMember3UserName)
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="detailHeading">
                        Mcrc Member 3 Recommendation
                    </p>
                    <p class="detailText">
                        @Html.DisplayFor(model => model.McrcMember3Recommendation)
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="detailHeading">
                        Recommendation Reason
                    </p>

                    <p class="detailText">@(Model.McrcMember3Reason == null || Model.McrcMember3Reason == "" ? "--" : Model.McrcMember3Reason)</p>
                </div>
            }
            @if (Model.McrcMember4UserName != null)
            {

                <div class="col-md-4">
                    <p class="detailHeading">
                        Mcrc Member 4 Name
                    </p>
                    <p class="detailText">
                        @Html.DisplayFor(model => model.McrcMember4UserName)
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="detailHeading">
                        Mcrc Member 4 Recommendation
                    </p>
                    <p class="detailText">
                        @Html.DisplayFor(model => model.McrcMember4Recommendation)
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="detailHeading">
                        Recommendation Reason
                    </p>

                    <p class="detailText">@(Model.McrcMember4Reason == null || Model.McrcMember4Reason == "" ? "--" : Model.McrcMember4Reason)</p>
                </div>

            }
            @if (Model.McrcMember5UserName != null)
            {
                <div class="col-md-4">
                    <p class="detailHeading">
                        Mcrc Member 5 Name
                    </p>
                    <p class="detailText">
                        @Html.DisplayFor(model => model.McrcMember5UserName)
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="detailHeading">
                        Mcrc Member 5 Recommendation
                    </p>
                    <p class="detailText">
                        @Html.DisplayFor(model => model.McrcMember5Recommendation)
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="detailHeading">
                        Recommendation Reason
                    </p>

                    <p class="detailText">@(Model.McrcMember5Reason == null || Model.McrcMember5Reason == "" ? "--" : Model.McrcMember5Reason)</p>
                </div>
            }
            <div class="col-md-4">
                <p class="detailHeading">
                    Decision
                </p>
                <p class="detailText">
                    @Html.DisplayFor(model => model.Decision)
                </p>
            </div>
            @if (Model.Decision != "Approve" && Model.Decision != "Discrepent")
            {
                <div class="col-md-4">
                    <p class="detailHeading">
                        Reason
                    </p>

                    <p class="detailText">@(Model.Reason == null || Model.Reason == "" ? "--" : Model.Reason)</p>
                </div>
            }
            else
            {

                <div class="col-md-4">
                    <p class="detailHeading">
                        Loan Amount
                    </p>

                    <p class="detailText">@(Model.LoanAmount == null || Model.LoanAmount == "" ? "--" : Model.LoanAmount)</p>
                </div>
                <div class="col-md-4">
                    <p class="detailHeading">
                        Loan Tenure
                    </p>

                    <p class="detailText">@(Model.LoanTenure == null || Model.LoanTenure == "" ? "--" : Model.LoanTenure)</p>
                </div>
                <div class="col-md-4">
                    <p class="detailHeading">
                        Grace Days
                    </p>

                    <p class="detailText">@(Model.GraceDays == null || Model.GraceDays == "" ? "--" : Model.GraceDays)</p>
                </div>
                <div class="col-md-4">
                    <p class="detailHeading">
                        Applied Markup
                    </p>

                    <p class="detailText">@(Model.AppliedMarkup == null || Model.AppliedMarkup == "" ? "--" : Model.AppliedMarkup)</p>
                </div>
                <div class="col-md-4">
                    <p class="detailHeading">
                        Collateral Amount
                    </p>

                    <p class="detailText">@(Model.CollateralAmount == null || Model.CollateralAmount == "" ? "--" : Model.CollateralAmount)</p>
                </div>
                <div class="col-md-4">
                    <p class="detailHeading">
                        LTV %
                    </p>
                    <p class="detailText">@(Model.LTV == null || Model.LTV == "" ? "--" : Model.LTV)</p>
                </div>
                <div class="col-md-4">
                    <p class="detailHeading">
                        Collateral Evaluation Date
                    </p>

                    <p class="detailText">@(Model.CollateralEvaluation == null || Model.CollateralEvaluation == "" ? "--" : Model.CollateralEvaluation)</p>
                </div>
                <div class="col-md-4">
                    <p class="detailHeading">
                        Deferment Applied
                    </p>

                    <p class="detailText">@(Model.isDeferment == null || Model.isDeferment == "" ? "--" : Model.isDeferment)</p>
                </div>
                <div class="col-md-4">
                    <p class="detailHeading">
                        Deferment Period (Months)
                    </p>
                    <p class="detailText">@(Model.DefermentPeriod == null || Model.DefermentPeriod == "" ? "--" : Model.DefermentPeriod)</p>
                </div>
                <div class="col-md-4">
                    <p class="detailHeading">
                        Tranches Applied
                    </p>

                    <p class="detailText">@(Model.isTranches == null || Model.isTranches == "" ? "--" : Model.isTranches)</p>
                </div>
                <div class="col-md-4">
                    <p class="detailHeading">
                        Tranches Dates
                    </p>

                    <p class="detailText">@(Model.TranchesDates == null || Model.TranchesDates == "" ? "--" : Model.TranchesDates)</p>
                </div>
                <div class="col-md-4">
                    <p class="detailHeading">
                        Tranches Amount
                    </p>

                    <p class="detailText">@(Model.TranchesAmount == null || Model.TranchesAmount == "" ? "--" : Model.TranchesAmount)</p>

                </div>
                <div class="col-md-4">
                    <p class="detailHeading">
                        Cheque to be Issued in favour of
                    </p>

                    <p class="detailText">@(Model.CheckName == null || Model.CheckName == "" ? "--" : Model.CheckName)</p>

                </div>
                <div class="col-md-4">
                    <p class="detailHeading">
                        Comments (If Any):
                    </p>

                    <p class="detailText">@(Model.Comments == null || Model.Comments == "" ? "--" : Model.Comments)</p>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <p class="detailHeading">
                            Uploaded Decision File
                        </p>
                        <p class="detailText">
                            <a href="@Model.DecisionFile" target="_blank" download><i class="fa fa-file-archive-o"></i> Click to Open</a>
                        </p>
                    </div>
                </div>
            }


        </div>
    </div>
</main>